extends layout
block content
    div.container(ng-controller="HomeCtrl")
        // button.btn.btn-secondary(ng-click="vm.runTestSession()") Run Test Session

        div.row
            div.col-md-6
                p.m-b-2
                div.panel.panel-default
                    div.panel-heading TEST SESSIONS
                    table.table.table-hover(ng-cloak)
                        thead
                            tr
                                th Session ID
                                th Created at
                                th Status
                                th Result
                        tbody
                            tr(ng-show="vm.testSessions && vm.testSessions.length" ng-repeat="testSession in vm.testSessions")
                                td
                                    a(href="/session/{{testSession.id}}") {{testSession.id}}
                                td {{vm.moment(testSession.timeCreated).format('LLL')}}
                                td {{testSession.status}}
                                td(ng-class="{red: testSession.result === 'failed', green: testSession.result === 'passed'}") {{testSession.result}}
                            tr(ng-hide="vm.testSessions && vm.testSessions.length")
                                td(colspan="99")  No test sessions to show here yet
            div.col-md-6
                p.m-b-2
                div.panel.panel-default
                    div.panel-heading TEST ACTORS
                    table.table.table-hover(ng-cloak)
                        thead
                            tr
                                th Actor ID
                                th IP Address
                                th Type 
                                th Session ID
                                th Last seen
                        tbody
                            tr(ng-show="vm.actors && vm.actors.length" ng-repeat="actor in vm.actors")
                                td {{actor.id}}
                                td {{actor.ip}}
                                td {{actor.type}}
                                td {{actor.testSessionId || 'N/A'}}
                                td {{actor.lastSeenTimeFmt}}
                            tr(ng-hide="vm.actors && vm.actors.length")
                                td(colspan="99") No test actors to show here yet
        
block append body_footer
    script(src="/js/ng/HomeCtrl.js")