extends layout
block content
    div.container(ng-controller="HomeCtrl")
        div.row
            div.col-md-7
                p.m-b-2
                div.panel.panel-default
                    div.panel-heading
                        | TEST SESSIONS
                        span.pull-right
                            a.toolbar-button(href="#" data-toggle="modal" data-target="#create-session" title="Create Test Session")
                                i.fa.fa-plus(aria-hidden="true")
                    table.table.table-hover(ng-cloak style="table-layout: fixed; width: 100%")
                        thead
                            tr
                                th(style="width: 100%") Session Label
                                th(style="width: 100px").hidden-xs Created at
                                th(style="width: 80px").hidden-xs Status
                                th(style="width: 70px") Result
                                th(style="width: 125px" title="Total / Complete / Passed") Test Count
                        tbody
                            tr(id="tr{{testSession.id}}" ng-show="vm.testSessions && vm.testSessions.length" ng-repeat="testSession in vm.testSessions")
                                td(class="session-label" title="Session ID: {{testSession.id}}")
                                    div(style="display: table; table-layout: fixed; width: 100%")
                                        div.dropdown(style="display: table-cell; width: 15px")
                                            div#dropdownMenuButton.dropdown-toggle(type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
                                                div(style="margin: 0px 3px 0px 0px;").three-dots-menu
                                                    img(src=`${urlPrefix}/img/tricolon.svg` style="display: inline-block; height: 12px; margin-right1: 10px; margin-bottom: 2px")
                                            div.dropdown-menu(aria-labelledby="dropdownMenuButton")
                                                li
                                                    a.dropdown-item(href="#" ng-click="vm.replaySession(testSession)") Replay
                                                li
                                                    a.dropdown-item(href="#" ng-click="vm.editSession(testSession)") Edit
                                                li(role="separator" class="divider")
                                                li(ng-class="{disabled: testSession.status === 'completed'}")
                                                    a.dropdown-item(href="#" ng-click="vm.cancelSession(testSession.id)") Cancel
                                                li
                                                    a.dropdown-item(href="#" ng-click="vm.deleteSession(testSession.id)") Delete
                                        a(href=`${urlPrefix}/session/{{testSession.id}}` style="word-wrap: break-word;") {{testSession.label}}
                                td(style="white-space: nowrap").hidden-xs {{vm.moment(testSession.timeCreated).format('MMM D, H:mm')}}
                                td.hidden-xs {{testSession.status}}
                                td(style="white-space: nowrap")
                                    span.label.label-default.result(ng-show="testSession.result === 'pending'") pending
                                    span.label.label-success.result(ng-show="testSession.result === 'passed'") passed
                                    span.label.label-danger.result(ng-show="testSession.result === 'failed'") failed
                                    span.label.label-default.result(ng-show="testSession.result === 'cancelled'") cancelled
                                td(style="white-space: nowrap")
                                    span.iteration-tag(title="Iterations") {{testSession.currentIteration}}
                                    div.test-count(style="display: inline-block; width: 80px" title="Total / Completed / Passed")
                                        div {{testSession.testCounts.total}}
                                        div {{testSession.testCounts.completed}}
                                        div {{testSession.testCounts.passed}}
                            tr(ng-hide="vm.isLoadingTestSessions || (vm.testSessions && vm.testSessions.length)")
                                td(colspan="99")  No test sessions to show here yet
                            tr(ng-show='vm.isLoadingTestSessions')
                                td(colspan="99")
                                    div.progress-indicator
                                        div.img
            div.col-md-5
                p.m-b-2
                div.panel.panel-default
                    div.panel-heading TEST ACTORS
                    table.table.table-hover(ng-cloak)
                        thead
                            tr
                                th ID
                                th IP&nbsp;Address
                                th Type
                                th Tags
                                th Session
                        tbody
                            tr(ng-show="vm.actors && vm.actors.length" ng-repeat="actor in vm.actors")
                                td {{actor.id}}
                                td {{actor.ip}}
                                td <strong>{{actor.type}}</strong>
                                td
                                    span(class="label label-default" ng-show="actor.tags" ng-repeat-start="tag in actor.tags") {{tag}}
                                    span(ng-repeat-end) &#32;
                                    span(ng-show="!actor.tags || !actor.tags.length") none
                                td {{actor.testSessionId || 'none'}}
                                //- td {{actor.lastSeenTimeFmt}}
                            tr(ng-hide="vm.actors && vm.actors.length")
                                td(colspan="99") No test actors to show here yet
        
block append body_footer
    script(src=`${urlPrefix}/js/ng/home-ctrl.js`)