
    //- Create session template modal dialog
    div.modal.fade.create-session(id="create-template")
        div.modal-dialog.modal-lg
            div.modal-content
                div.modal-header
                    button.close(data-dismiss="modal") &times;
                    p.modal-title Create Test Session Template
                div.modal-body
                    p Select tests
                div.modal-footer
                    button.btn.btn-secondary() Create Template

    //- Create session modal dialog
    div.modal.fade.create-session(id="create-session")
        div.modal-dialog.modal-lg
            div.modal-content
                div.modal-header
                    button.close(data-dismiss="modal") &times;
                    p.modal-title Create Test Session
                div.modal-body
                    p Select session template
                div.modal-footer
                    button.btn.btn-secondary(data-dismiss="modal" ng-click="vm.runTestSession()") Run Session