extends layout
block content
    div.container(ng-controller="HomeCtrl")
        div.row
            div.col-md-7
                p.m-b-2
                div.panel.panel-default
                    div.panel-heading
                        | TEST SESSIONS
                        span.pull-right
                            a.toolbar-button(href="#" data-toggle="modal" data-target="#create-session" title="Create Test Session")
                                i.fa.fa-plus(aria-hidden="true")
                    table.table.table-hover(ng-cloak)
                        thead
                            tr
                                th Session Label
                                th.hidden-xs Created at
                                th.hidden-xs Status
                                th Result
                                th(title="Total / Complete / Passed") Test Count
                        tbody
                            tr(ng-show="vm.testSessions && vm.testSessions.length" ng-repeat="testSession in vm.testSessions")
                                td(class="session-label" title="Session ID: {{testSession.id}}")
                                    div.dropdown(style="display: inline-block")
                                        div#dropdownMenuButton.dropdown-toggle(type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
                                            div(style="margin: 0px 3px 0px 0px;").three-dots-menu
                                        div.dropdown-menu(aria-labelledby="dropdownMenuButton")
                                            li
                                                a.dropdown-item(href="#" ng-click="vm.duplicateSession(testSession)") Duplicate
                                            //- li.divider(role="separator")
                                            li(ng-class="{disabled: testSession.status === 'completed'}")
                                                a.dropdown-item(href="#" ng-click="vm.cancelSession(testSession.id)") Cancel
                                    | &nbsp;
                                    a(href="/session/{{testSession.id}}") {{testSession.label}}
                                td.hidden-xs {{vm.moment(testSession.timeCreated).format('MMM D, H:mm A')}}
                                td.hidden-xs {{testSession.status}}
                                //td(ng-class="{red: testSession.result === 'failed', green: testSession.result === 'passed'}") {{testSession.result}}
                                td
                                    span.label.label-default.result(ng-show="testSession.result === 'pending'") pending
                                    span.label.label-success.result(ng-show="testSession.result === 'passed'") passed
                                    span.label.label-danger.result(ng-show="testSession.result === 'failed'") failed
                                    span.label.label-default.result(ng-show="testSession.result === 'cancelled'") cancelled
                                td(title="(Iterations) Total / Complete / Passed")
                                    span(class="iteration-tag") {{testSession.currentIteration}}
                                    | {{testSession.tests.length}} / {{vm.getCompletedTestCount(testSession)}} / {{vm.getPassedTestCount(testSession)}}
                            tr(ng-hide="vm.isLoadingTestSessions || (vm.testSessions && vm.testSessions.length)")
                                td(colspan="99")  No test sessions to show here yet
                            tr(ng-show='vm.isLoadingTestSessions')
                                td(colspan="99")
                                    div.progress-indicator
                                        div.img
            div.col-md-5
                p.m-b-2
                div.panel.panel-default
                    div.panel-heading TEST ACTORS
                    table.table.table-hover(ng-cloak)
                        thead
                            tr
                                th Actor ID
                                th IP Address
                                th Type 
                                th Session ID
                                th Last activity
                        tbody
                            tr(ng-show="vm.actors && vm.actors.length" ng-repeat="actor in vm.actors")
                                td {{actor.id}}
                                td {{actor.ip}}
                                td {{actor.type}}
                                td {{actor.testSessionId || 'N/A'}}
                                td {{actor.lastSeenTimeFmt}}
                            tr(ng-hide="vm.actors && vm.actors.length")
                                td(colspan="99") No test actors to show here yet
        
block append body_footer
    script(src="/js/ng/HomeCtrl.js")